In [1]:
import pandas as pd
import numpy as np

In [2]:
array = np.array([1,2,3,4])
print(array)

[1 2 3 4]

In [3]:
sereis = pd.Series(array)
print(sereis)

0    1
1    2
2    3
3    4
dtype: int64

In [4]:
type(sereis)

pandas.core.series.Series

In [5]:
sereis = pd.Series(array,index=[1,2,3,4])
print(sereis)

1    1
2    2
3    3
4    4
dtype: int64

In [6]:
data = {"Alex" : 50 , "Jack" : 55 , "David" : 60}
data

{'Alex': 50, 'Jack': 55, 'David': 60}

In [7]:
s0 = pd.Series(data)
print(s0)

Alex     50
Jack     55
David    60
dtype: int64

In [8]:
# Scaler Values
s1 = pd.Series(10,index = [1,2,3,4,5,6,7,8,9])
print(s1)

1    10
2    10
3    10
4    10
5    10
6    10
7    10
8    10
9    10
dtype: int64

In [9]:
sereis = pd.Series(array,index=[1,2,3,4])
print(sereis)

1    1
2    2
3    3
4    4
dtype: int64

In [10]:
print(sereis[1])

1

In [11]:
print(sereis[0:4])

1    1
2    2
3    3
4    4
dtype: int64

In [12]:
sereis.index

Index([1, 2, 3, 4], dtype='int64')

In [13]:
sereis.values

array([1, 2, 3, 4])

In [14]:
# DataFrames

Name = ["dev" , "raj" , "sam" , "sara"]
Marks = [50,52,48,49]
data1 = {"Names" : Name , "Marks" : Marks }
print(data1)

{'Names': ['dev', 'raj', 'sam', 'sara'], 'Marks': [50, 52, 48, 49]}

In [15]:
df = pd.DataFrame(data1)
print(df)

  Names  Marks
0   dev     50
1   raj     52
2   sam     48
3  sara     49

In [16]:
df = pd.DataFrame(data1,index = ["Rank1" , "Rank2" , "Rank3" , "Rank4"])
print(df)

      Names  Marks
Rank1   dev     50
Rank2   raj     52
Rank3   sam     48
Rank4  sara     49

In [17]:
city =["Pune" , "Bangalore" , "Hyderabad" , "Delhi"]
df["City"] = city
print(df)

      Names  Marks       City
Rank1   dev     50       Pune
Rank2   raj     52  Bangalore
Rank3   sam     48  Hyderabad
Rank4  sara     49      Delhi

In [18]:
ball = pd.read_csv("Ball_by_Ball.csv")

In [19]:
ball

,Match_Id,Innings_Id,Over_Id,Ball_Id,Team_Batting_Id,Team_Bowling_Id,Striker_Id,Striker_Batting_Position,Non_Striker_Id,Bowler_Id,Batsman_Scored,Extra_Type,Extra_Runs,Player_dissimal_Id,Dissimal_Type,Fielder_Id
0,335987,1,1,1,1,2,1,1,2,14,0,legbyes,1,,,
1,335987,1,1,2,1,2,2,2,1,14,0,,,,,
2,335987,1,1,3,1,2,2,2,1,14,0,wides,1,,,
3,335987,1,1,4,1,2,2,2,1,14,0,,,,,
4,335987,1,1,5,1,2,2,2,1,14,0,,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
136585,981024,2,20,2,2,11,369,6,434,299,2,,,,,
136586,981024,2,20,3,2,11,369,6,434,299,0,,,434,run out,183
136587,981024,2,20,4,2,11,140,9,369,299,0,legbyes,1,,,
136588,981024,2,20,5,2,11,369,6,140,299,1,,,,,
136589,981024,2,20,6,2,11,140,9,369,299,4,,,,,

In [20]:
ball.shape

(136590, 16)

In [22]:
ball.head(10)

,Match_Id,Innings_Id,Over_Id,Ball_Id,Team_Batting_Id,Team_Bowling_Id,Striker_Id,Striker_Batting_Position,Non_Striker_Id,Bowler_Id,Batsman_Scored,Extra_Type,Extra_Runs,Player_dissimal_Id,Dissimal_Type,Fielder_Id
0,335987,1,1,1,1,2,1,1,2,14,0,legbyes,1,,,
1,335987,1,1,2,1,2,2,2,1,14,0,,,,,
2,335987,1,1,3,1,2,2,2,1,14,0,wides,1,,,
3,335987,1,1,4,1,2,2,2,1,14,0,,,,,
4,335987,1,1,5,1,2,2,2,1,14,0,,,,,
5,335987,1,1,6,1,2,2,2,1,14,0,,,,,
6,335987,1,1,7,1,2,2,2,1,14,0,legbyes,1,,,
7,335987,1,2,1,1,2,2,2,1,15,0,,,,,
8,335987,1,2,2,1,2,2,2,1,15,4,,,,,
9,335987,1,2,3,1,2,2,2,1,15,4,,,,,

In [23]:
ball.tail(10)

,Match_Id,Innings_Id,Over_Id,Ball_Id,Team_Batting_Id,Team_Bowling_Id,Striker_Id,Striker_Batting_Position,Non_Striker_Id,Bowler_Id,Batsman_Scored,Extra_Type,Extra_Runs,Player_dissimal_Id,Dissimal_Type,Fielder_Id
136580,981024,2,19,3,2,11,434,8,369,460,0,,,,,
136581,981024,2,19,4,2,11,434,8,369,460,0,legbyes,1,,,
136582,981024,2,19,5,2,11,369,6,434,460,2,,,,,
136583,981024,2,19,6,2,11,369,6,434,460,6,,,,,
136584,981024,2,20,1,2,11,434,8,369,299,1,,,,,
136585,981024,2,20,2,2,11,369,6,434,299,2,,,,,
136586,981024,2,20,3,2,11,369,6,434,299,0,,,434,run out,183
136587,981024,2,20,4,2,11,140,9,369,299,0,legbyes,1,,,
136588,981024,2,20,5,2,11,369,6,140,299,1,,,,,
136589,981024,2,20,6,2,11,140,9,369,299,4,,,,,

In [26]:
ball[["Match_Id" , "Innings_Id"]]

        Match_Id  Innings_Id
0         335987           1
1         335987           1
2         335987           1
3         335987           1
4         335987           1
...          ...         ...
136585    981024           2
136586    981024           2
136587    981024           2
136588    981024           2
136589    981024           2

[136590 rows x 2 columns]