# Notes are saved in Notion <br>
The notes are saved in notion under the Class Notes tab and under the Introduction to Machine Learning tab in Lecture - 3 page.

In [1]:
import pandas as pd
import numpy as np
from pyexpat import features

# Data Splitting<br>
1.Training<br>
2.Testing<br>
3.Validating<br>

First two steps are for developement<br>
And the third step is for Accuracy measurement

In [6]:
data = {"Name" : ["Ram" , "Rohit" , "Ravi" , "Riya" , "Radhe" , "Siya" , "Vrinda"] , 
        "CPI" : [8,9,5,7,9,6,9] , 
        "Placement" : [1,0,1,0,1,0,1]}

In [7]:
data1 = pd.DataFrame(data)
print(data1)

     Name  CPI  Placement
0     Ram    8          1
1   Rohit    9          0
2    Ravi    5          1
3    Riya    7          0
4   Radhe    9          1
5    Siya    6          0
6  Vrinda    9          1

In [8]:
x = data1[["Name" , "CPI" ]]
y = data1[["Placement"]]

In [9]:
from sklearn.model_selection import train_test_split

In [ ]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=0)

 x_train - Training features<br>
 y_train - Training targets<br>
 x_test = Testing features<br>
 y_test - Testing targets<br>

In [11]:
print(x_train)

    Name  CPI
1  Rohit    9
3   Riya    7
0    Ram    8
5   Siya    6
4  Radhe    9

In [12]:
print(x_test)

     Name  CPI
6  Vrinda    9
2    Ravi    5

In [13]:
print(y_train)

   Placement
1          0
3          0
0          1
5          0
4          1

In [14]:
print(y_test)

   Placement
6          1
2          1

In [15]:
pl = pd.read_csv("CSV/Salary_Data.csv")
print(pl)

       Age  Gender    Education Level              Job Title  \
0     32.0    Male         Bachelor's      Software Engineer
1     28.0  Female           Master's           Data Analyst
2     45.0    Male                PhD         Senior Manager
3     36.0  Female         Bachelor's        Sales Associate
4     52.0    Male           Master's               Director
...    ...     ...                ...                    ...
6699  49.0  Female                PhD  Director of Marketing
6700  32.0    Male        High School        Sales Associate
6701  30.0  Female  Bachelor's Degree      Financial Manager
6702  46.0    Male    Master's Degree      Marketing Manager
6703  26.0  Female        High School        Sales Executive

      Years of Experience    Salary
0                     5.0   90000.0
1                     3.0   65000.0
2                    15.0  150000.0
3                     7.0   60000.0
4                    20.0  200000.0
...                   ...       ...
6699                 20.0  200000.0
6700                  3.0   50000.0
6701                  4.0   55000.0
6702                 14.0  140000.0
6703                  1.0   35000.0

[6704 rows x 6 columns]

In [16]:
print(pl.head())

    Age  Gender Education Level          Job Title  Years of Experience  \
0  32.0    Male      Bachelor's  Software Engineer                  5.0
1  28.0  Female        Master's       Data Analyst                  3.0
2  45.0    Male             PhD     Senior Manager                 15.0
3  36.0  Female      Bachelor's    Sales Associate                  7.0
4  52.0    Male        Master's           Director                 20.0

     Salary
0   90000.0
1   65000.0
2  150000.0
3   60000.0
4  200000.0

In [20]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

In [22]:
df = pd.DataFrame(pl)
print(df)

       Age  Gender    Education Level              Job Title  \
0     32.0    Male         Bachelor's      Software Engineer
1     28.0  Female           Master's           Data Analyst
2     45.0    Male                PhD         Senior Manager
3     36.0  Female         Bachelor's        Sales Associate
4     52.0    Male           Master's               Director
...    ...     ...                ...                    ...
6699  49.0  Female                PhD  Director of Marketing
6700  32.0    Male        High School        Sales Associate
6701  30.0  Female  Bachelor's Degree      Financial Manager
6702  46.0    Male    Master's Degree      Marketing Manager
6703  26.0  Female        High School        Sales Executive

      Years of Experience    Salary
0                     5.0   90000.0
1                     3.0   65000.0
2                    15.0  150000.0
3                     7.0   60000.0
4                    20.0  200000.0
...                   ...       ...
6699                 20.0  200000.0
6700                  3.0   50000.0
6701                  4.0   55000.0
6702                 14.0  140000.0
6703                  1.0   35000.0

[6704 rows x 6 columns]

In [24]:
X = df[["Years of Experience"]]
Y = df[["Salary"]]

In [25]:
x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size=0.2, random_state=0)

In [26]:
print(x_train)

      Years of Experience
5420                 11.0
3757                 18.0
4739                  1.0
6134                 14.0
4203                  6.0
...                   ...
4931                  9.0
3264                  2.0
1653                 12.0
2607                 30.0
2732                 11.0

[5363 rows x 1 columns]

In [27]:
print(x_test)

      Years of Experience
119                  10.0
2805                 13.0
3709                  2.0
4762                  3.0
98                   10.0
...                   ...
2303                  3.0
6669                 19.0
899                  11.0
6354                 12.0
3150                 12.0

[1341 rows x 1 columns]

In [28]:
print(y_train)

        Salary
5420  160000.0
3757  180000.0
4739   30000.0
6134  185000.0
4203   85000.0
...        ...
4931  140000.0
3264   60000.0
1653  170000.0
2607  183020.0
2732  160000.0

[5363 rows x 1 columns]

In [29]:
print(y_test)

        Salary
119   120000.0
2805  140010.0
3709   35000.0
4762   52000.0
98     90000.0
...        ...
2303   70000.0
6669  190000.0
899   198000.0
6354  120000.0
3150  170000.0

[1341 rows x 1 columns]

In [34]:
# df.dropna()
df = df.fillna(df.mean())

TypeError: can only concatenate str (not "int") to str

In [32]:
model = LinearRegression()
model.fit(x_train, y_train)

ValueError: Input X contains NaN.
LinearRegression does not accept missing values encoded as NaN natively. For supervised learning, you might want to consider sklearn.ensemble.HistGradientBoostingClassifier and Regressor which accept missing values encoded as NaNs natively. Alternatively, it is possible to preprocess the data, for instance by using an imputer transformer in a pipeline or drop samples with missing values. See https://scikit-learn.org/stable/modules/impute.html You can find a list of all estimators that handle NaN values at the following page: https://scikit-learn.org/stable/modules/impute.html#estimators-that-handle-nan-values