In [1]:
import  pandas as pd
import numpy as np

In [2]:
#Sample Dataset
data = {'A' : [1,2,np.nan , 4 , 5] ,
        'B' : [5 , np.nan , np.nan , 8 , 10] ,
        'C' : ['cat' , 'dog' , 'cat' , np.nan , 'dog']}

In [3]:
df = pd.DataFrame(data)
df

     A     B    C
0  1.0   5.0  cat
1  2.0   NaN  dog
2  NaN   NaN  cat
3  4.0   8.0  NaN
4  5.0  10.0  dog

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       4 non-null      float64
 1   B       3 non-null      float64
 2   C       4 non-null      object
dtypes: float64(2), object(1)
memory usage: 252.0+ bytes

In [7]:
#Imputing with Constant Value
df_filled_na = df.fillna(0)
df_filled_na

     A     B    C
0  1.0   5.0  cat
1  2.0   0.0  dog
2  0.0   0.0  cat
3  4.0   8.0    0
4  5.0  10.0  dog

In [12]:
#Imputing with mean in numerical values
df['A'] = df['A'].fillna(df['A'].mean())
df['B'] = df['B'].fillna(df['B'].mean())

#Imputing with mode in categorical values

df['C'] = df['C'].fillna(df['C'].mode()[0])
df

     A          B    C
0  1.0   5.000000  cat
1  2.0   7.666667  dog
2  3.0   7.666667  cat
3  4.0   8.000000  cat
4  5.0  10.000000  dog

In [14]:
from sklearn.impute import SimpleImputer

In [17]:
#imputing numerical colomns with mean

numerical_imputer = SimpleImputer(strategy='mean')
df[['A' , 'B']] = numerical_imputer.fit_transform(df[['A' , 'B']])
print(df)

#=====================================================================

#Imputing categorial colomns with most frequent(mode)

categorical_imputer = SimpleImputer(strategy='most_frequent')
df[['C']] = categorical_imputer.fit_transform(df[['C']])
print(df)

     A          B    C
0  1.0   5.000000  cat
1  2.0   7.666667  dog
2  3.0   7.666667  cat
3  4.0   8.000000  cat
4  5.0  10.000000  dog
     A          B    C
0  1.0   5.000000  cat
1  2.0   7.666667  dog
2  3.0   7.666667  cat
3  4.0   8.000000  cat
4  5.0  10.000000  dog

# Normalization

In [18]:
from sklearn.preprocessing import MinMaxScaler

In [19]:
data = {'Feature 1' : [10,20,30,40,50] , 
        'Feature 2' : [100,200,300,400,500]}
df = pd.DataFrame(data)
print(df)

   Feature 1  Feature 2
0         10        100
1         20        200
2         30        300
3         40        400
4         50        500

In [20]:
scaler = MinMaxScaler()

df_normalized = pd.DataFrame(scaler.fit_transform(df) , 
                             columns = df.columns)
print(df_normalized)

   Feature 1  Feature 2
0       0.00       0.00
1       0.25       0.25
2       0.50       0.50
3       0.75       0.75
4       1.00       1.00

# Standardization

In [21]:
from sklearn.preprocessing import StandardScaler

data = {'Feature 1' : [10,20,30,40,50] ,
        'Feature 2' : [100,200,300,400,500]}

df = pd.DataFrame(data)

#Standardization

scaler = StandardScaler()
df_standard = pd.DataFrame(scaler.fit_transform(df) ,
                           columns = df.columns)
print(df_standard)

   Feature 1  Feature 2
0  -1.414214  -1.414214
1  -0.707107  -0.707107
2   0.000000   0.000000
3   0.707107   0.707107
4   1.414214   1.414214